@import '../../styles/variables.scss';

.container-carousel {
  position: relative;
  margin-top: 15px;
  background: $light;
  width: min(90%);
  height: 100%;
  padding-top: 20px;
  list-style-type: none;
  padding: 0;
  border-radius: 12px;
  box-shadow: 4px 4px 4px 2px rgba(200,200,200, 0.3);

  .card-product {
    height: 580px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-transform: uppercase;

    .price-product {
      font-weight: 600;
    }
  }

  .img-product {
    margin-top: 20px;
    max-width: 270px;
  }

  .btn-products-container {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    height: 60px;
    width: 100%;

    .btn-change-product {
      height: 40px;
      width: 40px;
      border-radius: 5px;
      background: $blue;
      box-shadow: 2px 2px 2px 2px rgba(200,200,200, 0.9);
      color: $light;
    }
  }

}