@import './Variables.scss';

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  width: 100%;
  padding: 0 15px;
  background: $secondary-color;
  font-size: 16px;
  color: $light;
  transition: 150ms ease-out all;

  .logo {
    width: 50px;
    height: 40px;
  }
 
  .li {
    display: flex;
    justify-content: center;
    align-items: center;
    height:50px;
    width:80px;
    text-align: center;
    text-decoration: none;
    color: $light;
    transition: 500ms all ease; 

    &:last-child {
      background: $primary-color;
      padding: 10px;
      border-radius: 5px;

      &:active {
        background: $secondary-color;
      }
    }
  }

  .list {
    display:none
  }
  
  .mobileList {
    position: absolute;
    display: flex;
    top: 0;
    right: 0;
    padding: 0;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    min-width: 320px;
    min-height: 250px;
    background: rgba(10, 10, 10, 0.9);
    font-size: 18px;
    font-weight: 700;
    margin-top: 60px;
    border-radius: 0 0 10px 10px;
    z-index: 3;
    animation: open 300ms ease-in-out;

    @keyframes open {
      0% {
        right: -100%;
      }

      100% {
        top: 0;
        right: 0;
      }
    }
  }

  .iconMobileMenu {
    display: flex;
    font-size: 32px;
    z-index: 2;
  }
}

@media (min-width: $device-md) {
  .nav{
    height: 70px;
    font-size: 18px;

    .iconMobileMenu{
      display: none;
    }

    .list {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 350px;
    } 

    .logo {
      width: 60px;
      height: 60px;
      transition: 500ms all ease; 
    }  

    .logo:hover, .li:hover {
        cursor: pointer;
        transform: translateY(-2px);
    }
  }
}



// ANTIGO:
// .nav {
//   display: flex;
//   justify-content: space-between;
//   align-items: center;
//   height: 70px;
//   width: 100%;
//   padding: 0 15px;
//   font-size: 22px;
//   background: $secondary-color;
//   color: $light;

//   .li {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     height:50px;
//     width:80px;
//     text-align: center;
//     text-decoration: none;
//     color: $light;
//     transition: 500ms all ease; 

//     &:last-child {
//       background: $primary-color;
//       padding: 10px;
//       border-radius: 5px;

//       &:active {
//         background: $secondary-color;
//       }
//     }
//   }

//   .logo {
//     width: 60px;
//     height: 60px;
//     transition: 500ms all ease; 
//   }  

//   .logo:hover, .li:hover {
//       cursor: pointer;
//       transform: translateY(-2px);
//   }
// }

// .list {
//   display: flex;
//   justify-content: space-between;
//   align-items: center;
//   width: 350px;
// }

// .mobileMenu {
//   display: none;
// }

// @media (max-width: $device-lg) {
//   .nav {
//     font-size: 16px;
//     height: 60px;

//     .logo {
//       width: 50px;
//       height: 40px;
//     } 
//   }
// }

// @media (max-width: $device-md) {
//   .list {
//     display:none
//   }

//   .mobileList {
//     position: absolute;
//     display: flex;
//     top: 0;
//     right: 0;
//     padding: 0;
//     justify-content:center;
//     align-items: center;
//     flex-direction: column;
//     gap: 15px;
//     width: 100%;
//     min-width: 320px;
//     min-height: 250px;
//     background: rgba(10, 10, 10, 0.9);
//     font-size: 18px;
//     font-weight: 700;
//     margin-top: 60px;
//     border-radius: 0 0 10px 10px;
//     z-index: 3;
//     animation: open 300ms ease-in-out;
//   }

//   @keyframes open {
//     0% {
//       right: -100%;
//     }

//     100% {
//       top: 0;
//       right: 0;
//     }
//   }

//   .mobileMenu {
//     display: flex;
//     font-size: 32px;
//     z-index: 2;
//   }
// }