@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');
$Poppins: 'Poppins', sans-serif;

$device-sm: 320px;
$device-md: 700px;
$device-lg: 999px;
$device-xl: 1700px;

$light: #fff;
$dark: #0E0E0F;
$blue: #203DEC;
$grey-light: #A3A3A3;
$grey: #3F383A;


$base-background: #FAFAFC;

$primary-color: #203DEC;
$secondary-color: #262a2d;


//Gradient Background
$style-1: #393042;
$style-2: #0b0b16;
$style-3: #0a0a15;


$style-4: #17073c;
$style-5: #f534ed;
$style-6: #353548;
