@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');
$Poppins: 'Poppins', sans-serif;

$device-sm: 320px;
$device-md: 700px;
$device-lg: 999px;
$device-xl: 1700px;

$light: #fff;
$dark: #0E0E0F;
// $blue: #203DEC;
$blue: #3971ff;
$grey-light: #A3A3A3;
$grey: #3F383A;


$base-color: #f1f2f2;
$style-5: #f534ed;
