@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');
$Poppins: 'Poppins', sans-serif;

$device-sm: 320px;
$device-md: 700px;
$device-lg: 999px;
$device-xl: 1700px;

$light: #fff;
$dark: #121214;
$base-color: #fefefe;
$primary-color: #f534ed;
$secondary-color: #262a2d;


//Gradient Background
$style-1: #393042;
$style-2: #0b0b16;
$style-3: #0a0a15;


$style-4: #17073c;
$style-5: #f534ed;
$style-6: #353548;
