@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');
$Poppins: 'Poppins', sans-serif;

$device-sm: 320px;
$device-md: 600px;
$device-lg: 999px;
$device-xl: 1700px;

$light: #fff;
$dark: #121214;
$base-color: #e1e1f6;
$primary-color: #8257e6;
$secondary-color: #262a2d;