@import '../../styles//variables.scss';

.container-cart {
    display: flex;
    justify-content: center;
    height: 100%;
    margin-top: 15px;
    // padding: 10px 0 0 0;
    list-style-type: none;

    .list {
      width: 400px;
      

      .card {
        display: flex;
        background: $light;
        border-radius: 10px;
        padding: 10px;        
        margin: 10px 0;
        box-shadow: 4px 4px 4px 1px rgba(180, 180, 180, 0.3);

        .product {
          // display: block;

          img {
            width: 100px;
            height: 160px;
          }

          p {
            text-transform: uppercase;
            text-align: center;
          }
        }

        .info {
          align-self: center;
          margin: 0 auto;
        }
      }
    }
}